{% extends 'main/baseabout.html' %}

{% block dis4 %}
    disabled
{% endblock %}"

{% block title %}
Контакты
{% endblock %}

{% block content %}
 <span style="color: #000080; font-size: 36px; margin-left: 10px" >Контакты</span>
    <br>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/c82cc4e14a1d2c8c8ffff9840d24b558_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Тищенко Евгений Николаевич</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>Декан факультета, д.э.н., профессор.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 305а <br> 8 (928) 144-04-03 <br> 8 (863) 261-38-64 <br> 8-64 - внутр. <br>celt@inbox.ru</strong> </span>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/3899dfe821816fbcb3db3e3b23f81585_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Мисиченко Надежда Юрьевна</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>Зам. декана по очной и заочной формам обучения, к.э.н., доцент.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 305 <br> 8 (863) 240-24-92  <br> 8-18 - внутр.</strong> </span>

    <hr style="height: 10px">
    <img src="	http://ktib-rsue.ru/media/k2/items/cache/48ee1e8a0a8f50dce4f8cb9ab418e211_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Богачев Тарас Викторович</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>ДЗам. декана по научной работе, к.ф.-м.н., доцент.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 301а <br> 8(863) 261-38-85 <br>8-85 - внутр. <br>bogachev73@yandex.ru</strong> </span>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/fd8b0f77d767f1f6640afba6916ff67c_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Лозина Екатерина Николаевна</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>Зам. декана по воспитательной и профориентационной работе.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 309<br> 8 (903) 403-22-76 <br>westa78@mail.ru</strong> </span>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/fc1da7257992fc36032e11db3df7a664_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Щербаков Сергей Михайлович</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>И.о. зав. кафедрой ИСиПИ, д.э.н., профессор.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 308 <br>8 (863) 237-02-71 <br> 5-13 - внутр. <br>sergwood@mail.ru</strong> </span>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/c9b002fe1bb0320831a8ae78670fdb6f_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Ефимова Елена Владимировна</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>И.о. зав. кафедрой ИТиЗИ, к.э.н., доцент.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 306 <br> (863) 240-21-23 <br>5-49 - внутр. <br>efim19732008@yandex.ru</strong> </span>

    <hr style="height: 10px">
    <img src="http://ktib-rsue.ru/media/k2/items/cache/c1572c59821062c96d0fc33ad32a2983_M.jpg" alt=""  >
    <br>
    <span style="font-size: 30px;"><strong>Мануйленко Элеонора Владимировна</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>И.о. зав. кафедрой ФВСиТ, к.н.п., доцент.</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>3 этаж, кабинет 106<br> (863) 261-38-71<br>8-71 - внутр. <br>kafedrafvsit@mail.ru</strong> </span>

    <hr style="height: 10px">

    <span style="font-size: 30px;"><strong>Секретари деканата:</strong> </span>
    <span style="font-size: 15px; margin-left: 20px"><strong><br>по очной форме обучения: Кенессериева Диана Гумаровна (dianadekanat@yandex.ru)</strong> </span>
    <span style="font-size: 15px; margin-left: 40px;"><strong><br>по заочной форме обучения: Леонова Владлена Андреевна (dekanat.zaoch@yandex.ru)</strong> </span>


{% endblock %}
