
        <hr style="height: 10px">
        <a style="font-size: 30px">{% block educT %}{% endblock %}</a>
        <div style="margin-top: 20px">
	  	 {% block opis %}{% endblock %}
	  	  </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>