{% extends 'main/baseabout.html' %}
{% block dis2 %}
    disabled
{% endblock %}"

{% block title %}
Условия образования
{% endblock %}

{% block content %}




        <span style="color: #000080; font-size: 28px; margin-left: 10px" >Факультет компьютерных технологий и информационной безопасности РГЭУ (РИНХ)</span>
        <br>

        <hr style="height: 10px">
        <a style="font-size: 30px">Фундаментальная информатика и информационные технологии</a>
        <div style="margin-top: 20px">
	  	    Выпускники направления способны применять в профессиональной деятельности современный математический аппарат, языки программирования и ПО, методы параллельной обработки данных, операционные системы, сетевые технологии. Выпускники направления разрабатывают новые информационные технологии, системы искусственного интеллекта, создают информационные системы, занимаются анализом больших данных.	  </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>

         <hr style="height: 10px">
        <a style="font-size: 30px">ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ</a>
        <div style="margin-top: 20px">
        Выпускник направления занимается разработкой и внедрением новых информационных технологий в экономике, бизнесе, финансах, управлении. Программные комплексы широкого профиля, компьютерные системы и сети, базы и хранилища данных и знаний, системы лектронной коммерции, корпоративные системы управления, интернет-порталы, экспертные системы искусственного интеллекта – вот далеко не полный перечень областей приложения сил выпускников.
	  	    </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>



             <hr style="height: 10px">
        <a style="font-size: 30px">ПРИКЛАДНАЯ МАТЕМАТИКА И ИНФОРМАТИКА</a>
        <div style="margin-top: 20px">
        Выпускники направления «Прикладная математика и информатика» занимаются анализом и моделированием экономических процессов на макро-, микро- и глобальном уровнях, оптимизацией и прогнозированием развития бизнес-процессов, разработкой программного обеспечения, анализом данных и машинным обучением, применяют в профессиональной деятельности технологии Big Data и искусственного интеллекта. Могут занимать должности ИТ-специалиста, финансового- и бизнес –аналитика, Data Scientist.
	  	    </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>



             <hr style="height: 10px">
        <a style="font-size: 30px">ПРОГРАММНАЯ ИНЖЕНЕРИЯ</a>
        <div style="margin-top: 20px">
        Базируясь на информатике и информационных технологиях в сочетании с инженерными подходами, «Программная инженерия» занимается разработкой алгоритмов (распределенные вычисления, игры, нечеткая логика, нейронные сети), компонент программных (интерфейсы, драйвера, компиляторы, сборщики) и программно-аппаратных комплексов (портативные устройства, робототехника), а также хранилищ данных.
	  	    </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>

                 <hr style="height: 10px">
        <a style="font-size: 30px">ПРИКЛАДНАЯ ИНФОРМАТИКА</a>
        <div style="margin-top: 20px">
            Выпускники направления способны работать в ИТ-компаниях, разрабатывающих программные комплексы, и организациях, внедряющих и эксплуатирующих информационные технологии. Хорошие знания в области экономики и управления в сочетании с глубокими знаниями и навыками практической работы в области информационно-коммуникационных технологий создают конкурентные преимущества, которые во многом определяют спрос на выпускников, их карьерный рост и высокий уровень доходов.
	  	    </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>

                 <hr style="height: 10px">
        <a style="font-size: 30px">БИЗНЕС-ИНФОРМАТИКА</a>
        <div style="margin-top: 20px">
        Направление «Бизнес-информатика» - это мост между бизнесом и ИТ, соединяющий изменения в технологиях и процессах для реализации ключевых задач бизнеса. Выпускники направления занимаются автоматизацией, анализируют, прогнозируют и моделируют основные бизнес-процессы предприятия.
	  	    </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно, очно-заочно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, информатика и ИКТ</span>
            </li>
         </ul>

                 <hr style="height: 10px">
        <a style="font-size: 30px">ИНФОРМАЦИОННАЯ БЕЗОПАНОСТЬ</a>
        <div style="margin-top: 20px">
            Выпускники обладают компетенциями в области типовых подсистем и решений обеспечения ИБ, а так же теоретических и организационно-правовых аспектов безопасности информационных систем в следующих областях:
	  	    <ul>
                <li> компьютерная вирусология;</li>
                <li> компьютерная криптография;</li>
                <li> безопасность сетей и связи;</li>
                <li> защита от несанкционированного доступа;</li>
                <li> защита от негласного съема информации.</li>
            </ul>
        Специалист в области ИБ в настоящие время находятся на передовой технического прогресса и являются крайне востребованными на рынке труда.
        </div>
        <ul style="margin-top: 20px">
            <li> <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;" > <strong>Уровень подготовки</strong> </span>
            <span style="margin-left: 90px">Бакалавриат (очно)</span>
            </li>
            <li> <span ></span>
                <span style=" display: block;float: left;font-weight: bold;margin: 0 4px 0 0; width: 30%;"><strong>ЕГЭ</strong> </span>
                <span style="margin-left: 90px">математика, русский язык, физика</span>
            </li>
         </ul>

{% endblock %}
