{% extends 'main/base.html' %}

{% block dis1 %}
    disabled
{% endblock %}"

{% block title %}
Главная страница
{% endblock %}

{% block content %}

    <img src="http://it-school.rsue.ru/pluginfile.php/40/mod_label/intro/ktiblogo.png"  width="142" height="99">

    <span style="color: #000080; font-size: 26px; margin-left: 10px" >Факультет компьютерных технологий и информационной безопасности РГЭУ (РИНХ)</span>
    <br>
    <h5 style="text-align: justify; font-size: 18px; margin-top: 20px">Факультет располагает мощным научно-техническим потенциалом, использует новые технологии обучения и является одним из немногих учебных центров, обучающих использованию современных информационных технологий и систем в целях их приложения в экономике<strong></strong></h5>
    <a href="http://ktib-rsue.ru/" target="_blank" style="font-size: 18px">Подробнее...</a>
        <h5 style="text-align: justify; font-size: 26px; margin-top: 20px">IT - школа -это новый образовательный проект для школьников<strong></strong></h5>
        <h4 style="font-size: 18px; margin-top: 40px">Проект направлен на раннюю профессиональную ориентацию и популяризацию знаний в области естественных наук, информационных технологий, основ программирования, предпринимательства и финансовой грамотности для школьников.<strong></strong></h4>
    <a><img src="https://avatars.mds.yandex.net/get-altay/5584259/2a0000017d641987cb9f835c579e607d34b9/XXL" ></a>

{% endblock %}


