{% extends 'main/baseabout.html' %}

{% block dis3 %}
    disabled
{% endblock %}"

{% block title %}
Преподаватели
{% endblock %}


{##}
{#       <hr style="height: 10px">#}
{#            <div style="display: flex; ">#}
{#                <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >#}
{#                <br>#}
{#                <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">#}
{#                    <p style="font-size: 45px;"><strong>Макаренко Елена Николаевна</strong> </p>#}
{#                    <p style="font-size: 30px; "><strong><br>Ректор РГЭУ (РИНХ), доктор экономических наук, профессор, председатель Ученого совета</strong> </p>#}
{#                </div>#}
{#            </div>#}

{% block content %}
 <span style="color: #000080; font-size: 26px; margin-left: 10px" ><strong> Факультет компьютерных технологий и информационной безопасности РГЭУ (РИНХ)</strong></span>
    <br>
    <h5 style="text-align: justify; font-size: 23px; margin-top: 20px">Общее руководство Ростовским государственным экономическим Университетом (РИНХ) осуществляет выборный представительный орган — Учёный Совет РГЭУ (РИНХ)  конференцией преподавателей, научных сотрудников, представителей других категорий работников и обучающихся университета. Деятельность Учёного Совета направлена на решение основных вопросов жизнеобеспечения и развития университета в целом и основана на гласности и демократических принципах.<strong></strong></h5>

<div style="display: block;">
        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Макаренко Елена Николаевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Ректор РГЭУ (РИНХ), доктор экономических наук, профессор, председатель Ученого совета</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%91%D0%BE%D0%B5%D0%B2.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Боев Василий Юрьевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по учебной работе, кандидат экономических наук,<br> доцент, заместитель председателя Ученого совета</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/AlbekovAY.jpg" width=300 height=400  alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Альбеков Адам Умарович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Президент РГЭУ (РИНХ),<br> доктор экономических наук, профессор</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%A0%D0%B0%D0%B4%D1%87%D0%B5%D0%BD%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Радченко Юрий Владимирович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по развитию образовательных программ  и цифровой трансформации,<br> кандидат экономических наук, доцент</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%92%D0%BE%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Вовченко Наталья Геннадьевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по научной работе и инновациям</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/Mixalin.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Михалин Валерий Иванович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по персоналу и безопасности</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/denisov.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Денисов Евгений Анатольевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по воспитательной работе и молодежной политике</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex; ">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/NikitinaNB.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Никитина Наталья Борисовна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Проректор по административно-хозяйственной работе</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Полуботко Анна Александровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Ученый секретарь Ученого совета университета</strong> </p>
            </div>
        </div>




<hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Андреева Ольга Валентиновна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Руководитель центра стратегических исследований <br> социально-экономического развития Юга России</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%91%D0%B0%D1%80%D0%B8%D0%BD%D0%BE%D0%B2.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Баринов Эмиль Эдуардович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой конституционного и муниципального права <br> социально-экономического развития Юга России</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/Barabanova.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Барабанова Ирина Геннадьевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой лингвистики и межкультурной коммуникации</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%91%D0%BE%D0%B4%D1%8F%D0%B3%D0%B8%D0%BD.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Бодягин Олег Валерьевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Начальник управления международного сотрудничества</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Голобородько Андрей Юрьевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Директор Таганрогского института имени А.П. Чехова <br> (филиал РГЭУ (РИНХ))</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Горбачева Галина Александровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Начальник управления планирования, <br> анализа и контроля финансово-хозяйственной деятельности</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%93%D0%BE%D1%80%D0%B4%D0%B5%D0%B5%D0%B2.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Гордеев Станислав Евгеньевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Председатель профкома работников</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%94%D0%B6%D1%83%D1%85%D0%B0.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Джуха Владимир Михайлович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой инновационного менеджмента и предпринимательства</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Евлахова Юлия Сергеевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>И.о. заведующего кафедрой Финансового мониторинга и финансовых рынков</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Ефимова Елена Владимировна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой информационных технологий и защиты информации</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/zhebrovskaya.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Жебровская Людмила Анатольевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Начальник управления компьютеризации учебной и <br> административной деятельности</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/197%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B0.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Иванова Елена Александровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Директор института магистратуры</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Исраилова Элима Адамовна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой мировой экономики и международных отношений</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Казанская Евгения Владимировна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой иностранных языков для экономических специальностей</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%9A%D0%B8%D1%81%D0%BB%D0%B0%D1%8F%D0%98%D0%90.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Кислая Ирина Александровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан учетно-экономического факультета</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%9A%D0%B8%D0%B7%D0%B8%D0%BB%D0%BE%D0%B2.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Кизилов Александр Николаевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой Аудита</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Костоглодов Дмитрий Дмитриевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан факультета торгового дела</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BE%D0%B2.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Кузнецов Николай Геннадьевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Научный руководитель университета</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%9A%D1%83%D0%BB%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0.jpg" width=300 height=400 alt="">
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Куликова Элла Германовна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой русского языка и культуры речи</strong> </p>
            </div>
        </div>



            <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/42%D0%9B%D0%B0%D0%B1%D1%8B%D0%BD%D1%86%D0%B5%D0%B2.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Лабынцев Николай Тихонович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой бухгалтерского учета</strong> </p>
            </div>
        </div>



            <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%9B%D1%8F%D1%89%D0%B5%D0%BD%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Лященко Никита Иванович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Председатель профкома обучающихся</strong> </p>
            </div>
        </div>



           <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Маслинская Людмила Владимировна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Главный бухгалтер университета</strong> </p>
            </div>
        </div>



           <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Молчанов Евгений Григорьевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан факультета экономики и финансов</strong> </p>
            </div>
        </div>



          <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Наухацкий Виталий Васильевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой исторических наук и политологии</strong> </p>
            </div>
        </div>


          <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Ниворожкина Людмила Ивановна</strong> </p>
                <p style="font-size: 30px; "><strong><br>И.о. зав. кафедрой статистики, эконометрики и оценки рисков</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Паршина Екатерина Александровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Начальник правового управления</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Позднышов Алексей Николаевич</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан юридического факультета</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/15%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D0%BE%D0%B2%D0%B0.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Романова Татьяна Федоровна</strong> </p>
                <p style="font-size: 30px; "><strong><br>И.о. зав. кафедрой финансы</strong> </p>
            </div>
        </div>


         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="	https://rsue.ru/universitet/uchenyy-sovet/img/%D0%A1%D0%B5%D0%BC%D0%B5%D0%BD%D1%8E%D1%82%D0%B0.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Семенюта Ольга Гетовна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой банковского дела</strong> </p>
            </div>
        </div>


         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Соленая Светлана Валентиновна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой международной торговли и таможенного дела</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Степаненко Ольга Николаевнач</strong> </p>
                <p style="font-size: 30px; "><strong><br>Директор Бизнес – школы</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/21%D0%A2%D0%B8%D1%89%D0%B5%D0%BD%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Тищенко Евгений Николаевичч</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан факультета компьютерных технологий и информационной безопасности</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Украинцев Вадим Борисович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой государственного, муниципального управления и экономической безопасности</strong> </p>
            </div>
        </div>




         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/33%D0%A3%D0%BB%D0%B5%D0%B7%D1%8C%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Улезько Серьгей Иванович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой уголовного и уголовно-исполнительного права, криминологии</strong> </p>
            </div>
        </div>


         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://rsue.ru/universitet/uchenyy-sovet/img/%D0%A3%D1%81%D0%B5%D0%BD%D0%BA%D0%BE.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Усенко Людмила Николаевна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой анализа хозяйственной деятельности и прогнозирования</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Усенко Наталия Михайловна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Декан факультета лингвистики и журналистики</strong> </p>
            </div>
        </div>



         <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Федоренко Наталия Владимирована</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой гражданского процесса</strong> </p>
            </div>
        </div>



        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Штофер Людмила Львовна</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой философии и культурологии</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Щербаков Сергей Михайлович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Зав. кафедрой информационных систем и прикладной информатики</strong> </p>
            </div>
        </div>

        <hr style="height: 10px">
        <div style="display: flex;">
            <img src="https://yakovgo.gosuslugi.ru/netcat_files/257/2538/headshot.jpg" width=300 height=400 alt=""  >
            <br>
            <div style="justify-content: space-between; margin-top: 60px;margin-left: 10px;">
                <p style="font-size: 45px;"><strong>Паевский Олег Олегович</strong> </p>
                <p style="font-size: 30px; "><strong><br>Председатель студенческого совета</strong> </p>
            </div>
        </div>

    </div>

{% endblock %}
